<?xml version="1.0"?>
<MyObjectBuilder_VSFiles xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Campaign>
    <SupportedPlatforms>
      <Platform>
        <Name>PC</Name>
        <StateMachine>NormalPerformance</StateMachine>
      </Platform>
    </SupportedPlatforms>
    <StateMachines>
      <StateMachine>
        <Name>NormalPerformance</Name>
        <Nodes>
          <MyObjectBuilder_CampaignSMNode>
            <Name>Mission_1</Name>
            <SaveFilePath>Sandbox.sbc</SaveFilePath>
            <Location x="488" y="237" />
          </MyObjectBuilder_CampaignSMNode>
        </Nodes>
        <Transitions />
      </StateMachine>
    </StateMachines>
    <Name>{LOCG:CustomWorld_StarSystem}</Name>
    <Description></Description>
    <ImagePath>thumb.jpg</ImagePath>
    <IsMultiplayer>true</IsMultiplayer>
    <Difficulty>Normal</Difficulty>
    <Author>Keen Software House</Author>
    <Order>1000</Order>
    <MaxPlayers>4</MaxPlayers>
  </Campaign>
</MyObjectBuilder_VSFiles>